:root {
    --color-main: rgba(23, 190, 121, 1);
    --color-additional: rgba(233, 237, 243, 1);

    --color-black: rgba(39, 43, 55, 1);
    --color-white: rgba(255, 255, 255, 1);

    --radius-20: 20px;
    --radius-30: 30px;
    --radius-100: 100px;

    --section-padding: 20px;
    @media (max-width: 767px) {
        --section-padding: 12px;
    }
    --vw: 1920;
    --multiplier: 100vw;
}
